@charset "UTF-8";
.nav {
  width: 82rpx;
  position: fixed;
  right: 20rpx;
  bottom: 100rpx;
  z-index: 9;
  border: 2rpx solid #eaeaea;
  border-radius: 80rpx;
  color: #333;
  padding: 30rpx 0;
  background: #fff;
  overflow: hidden;
  opacity: .9;
  li {
    text-align: center;
    font-size: 20rpx;
    padding-top: 45rpx;
    margin-bottom: 28rpx;
    span {
      text-align: center;
    }
  }
  .animate{
    transform:translateY(55px);
  }
  .inav:nth-child(1){
    background: url('../../../../static/assets/home.png') no-repeat top center;
    background-size: 42rpx;
  }
  .inav:nth-child(2){
    background: url('../../../../static/assets/cart.png') no-repeat top center;
    background-size: 42rpx;
  }
  .inav:nth-child(3){
    background: url('../../../../static/assets/search.png') no-repeat top center;
    background-size: 42rpx;
  }
  .inav:nth-child(4){
    background: url('../../../../static/assets/mine.png') no-repeat top center;
    background-size: 42rpx;
  }
  .inav:nth-child(5){
    background: url('../../../../static/assets/top.png') no-repeat top center;
    background-size: 42rpx;
  }
  .up{
    background:#fff url('../../../../static/assets/doubleTop.png') no-repeat top center;
    background-size: 26rpx;
    padding: 34rpx 20rpx 0 20rpx;
    line-height: 28rpx;
    margin: 0;
  }
  .down{
    margin-top: 50rpx;
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAaCAYAAACpSkzOAAAAAXNSR0IArs4c6QAAAd1JREFUSA2llFtSwjAUhqm4AxfhuAXeKeoyGB0Y9iAPugcuM9BdOEKZ4Q234LgIV8BDPV+axN7SJngeyMnJf/6vaUN6PR3H4/F2v98PzPy/I154Gp8rEgrn8/kry7KTCLYyRkYQOtKrPU54GpgCSeHGmMs4TtN0Y+YhIHp075g+5niTK9BoNPqMomhLgbgEVoXggyfe5ApEEsfxsywk5EQIzAFJ8MzdBGoSbV7aOjXg0vAkY1bUmrwFUuopgWj2bQzV1kC+BiEPhGcjqAvGevF0Me96xU4Qza6n1mvqCJN3QZSGn7ZoghX1PhD0rTsyhi6YL8SCMJpOpw8UVqvVhxjUjrKG7WSMVWMUpXLs75u0rM9ms4Fof5bL5bfS8zOZTB6l+E4ukazX69J/IC/n3+xwOLwwHw6Hb00QHkj8NiLhG2b9fv8O2DVNlRiLkINQg2nj14reTisQ6tIS/d11vC4p2utHcmBBF2sDBMp2sViou84ehiYhcNdrlDUbPr0WRJdPg3XXiW9PCRQK84XgWwP5wkIgTlAXjPXCEWZKtH7Pxh3lfe5vptftXdcFQd8KQuB4RSyZaN2JEXWCELbAvCB4eIEKsJ3k6q6TMZX/mPOuo+fi0Duby0GYk4cY/QLT+tABhCmoowAAAABJRU5ErkJggg==) no-repeat top center;
    background-size: 26rpx;
  }
}