@charset "UTF-8";

.search {
  height: 124rpx;
  background: #eee;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  .input {
    width: 80%;
    height: 60rpx;
    border-radius: 8rpx;
    color: #ccc;
    font-size: 26rpx;
    padding: 2rpx 30rpx;
    background: #FFF;
    display: flex;
    align-items: center;
  }
}

.classify{
  width: 200rpx;
  float:left;
  margin-top: 124rpx;
  .classify-list{
    li{
      line-height: 88rpx;
      font-size: 28rpx;
      color: #333;
      text-align: center;
      border-left: 5px solid #eee !important;
      border-bottom: 1px solid #ddd;
      border-right: 1px solid #ddd;
      background-color: #eee;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &.active{
        border-left: 5px solid #fe5b4a !important;
        border-right: 1px solid #fff;
        background-color: #fff;
      }
    }
  }
}
.classify-content{
  width: 550rpx;
  background-color: #fff;
  float:left;
  margin-top: 124rpx;
  .li-item{
    padding: 20rpx;
    .li-head{
      color: #999;
      font-size: 24rpx;
      border-left: 2px solid #fe5b4a;
      padding-left: 10rpx;
      line-height: 1;
      &.hot{
        color: #fe5b4a;
      }
    }
    .sale-hot{
      position: absolute;
      top: 0;
      right: 0;
      z-index: 12;
      background-color: #f13149;
      color: #fff;
      font-size: 24rpx;
      line-height: 1.2;
    }
    .goods-box{
      margin-top: 20rpx;
      padding-left: 20rpx;
      display: inline-block;
      margin-bottom: 20rpx;
      width: 33.33333%;
      vertical-align: top;
      box-sizing: border-box;
      .goods-img{
        width:150rpx;
        height:150rpx;
      }
      .lazy-load{
        padding: 0 10rpx;
      }
      .lazy-name{
        font-size: 24rpx;
        color: #666;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &.hot{
          color: #fe5b4a;
        }
      }
    }
  }
}
